<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.husni.moviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieCatalogue">
        <activity android:name=".ui.favourite.FavoriteActivity"></activity>
        <activity
            android:name=".ui.detail.series.DetailSeriesActivity"
            android:label="@string/title_activity_detail_series"
            android:theme="@style/Theme.MovieCatalogue.NoActionBar" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detail.movies.DetailMovieActivity"
            android:label="@string/title_activity_detail_movie"
            android:theme="@style/Theme.MovieCatalogue.NoActionBar" />
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>